@page "/fetchdata"
@using CharacterPlanner.Shared.Models
@inject HttpClient Http

<PageTitle>List of mounts</PageTitle>

<h1>List of mounts</h1>

<p>This component demonstrates fetching data from the server.</p>
@if (mounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mount in mounts)
            {
                <tr>
                    <td>@mount.Id</td>
                    <td>@mount.Name</td>
                    <td>@mount.Key.Href</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Mount[]? mounts;

    protected override async Task OnInitializedAsync()
    {
        mounts = await Http.GetFromJsonAsync<Mount[]>("api/static/mounts");
    }
}
